apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: rhf
data:
  filebeat.yml: |
    filebeat.inputs:
      - type: log
        enabled: true
        paths:
          - /app/rider-logs/*.json
        json.keys_under_root: true
        json.add_error_key: true
        fields:
          service: rider-service

      - type: log
        enabled: true
        paths:
          - /app/driver-logs/*.json
        json.keys_under_root: true
        json.add_error_key: true
        fields:
          service: driver-service

      - type: log
        enabled: true
        paths:
          - /app/payment-logs/*.json
        json.keys_under_root: true
        json.add_error_key: true
        fields:
          service: payment-service

      - type: log
        enabled: true
        paths:
          - /app/trip-logs/*.json
        json.keys_under_root: true
        json.add_error_key: true
        fields:
          service: trip-service

    processors:
      - add_host_metadata: ~
      - add_cloud_metadata: ~
      - add_docker_metadata: ~

    output.logstash:
      hosts: ["logstash:5044"]
