apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: rhf
data:
  filebeat.yml: |
    filebeat.inputs:
      - type: log
        enabled: true
        paths:
          - /app/logs/*.json
        json.keys_under_root: true
        json.add_error_key: true
        json.message_key: message

    output.logstash:
      hosts: ["logstash:5044"]

    processors:
      - add_host_metadata: ~
      - add_kubernetes_metadata:
          in_cluster: true
