apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rider-db-pvc
  namespace: rhf
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 1Gi
